#root {
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.app-container {
  display: flex;
  flex-direction: column;
}

.reminder-form {
  width: 400px;
  margin: 0 100px;
}

.reminder-form h2,
.reminder-list h2 {
  margin-bottom: 1rem;
}

.reminder-form form div {
  margin-bottom: 1rem;
}

.reminder-form form input {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 8px;
}

.reminder-form form button {
  width: 105%;
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

.reminder-form form button:hover {
  background-color: #0056b3;
}

.reminder-list {
  width: 600px; 
  height: 400px;
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  word-wrap: break-word;
  align-items: center;
  align-content: center;
  text-align: center;
}

.reminder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border-bottom: 1px solid #ccc;
  transition: background-color 0.5s ease;
  word-break: break-word; /* Break long words */
}

.reminder div {
  margin-right: 1rem;
  overflow: hidden; /* Hide overflow */
}

.reminder button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: red;
}

.reminder button:hover {
  color: darkred;
}

.reminder.deleting {
  background-color: red;
}

.reminder.adding {
  background-color: lightgreen;
}

.flash {
  background-color: green;
  transition: background-color 0.5s ease;
}

@media (min-width: 1333px) {
  .app-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}

@media (max-width: 1332px) {
  .app-container {
    align-content: center;
    align-items: center;
    flex-direction: column;
  }
  .reminder-form {
    width: 40%;
    margin: auto;
  }

  .reminder-list {
    width: 55%;
    margin: 50px auto;
  }
}
