#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.app-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.reminder-form {
  width: 100%;
}

.reminder-form h2,
.reminder-list h2 {
  margin-bottom: 1rem;
}

.reminder-form form div {
  margin-bottom: 1rem;
}

.reminder-form form input {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 8px; 
}

.reminder-form form button {
  width: 100%; 
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px; 
}

.reminder-form form button:hover {
  background-color: #0056b3;
}

.reminder-list {
  width: 100%;
}

.reminder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border-bottom: 1px solid #ccc;
  transition: background-color 0.5s ease;
}

.reminder div {
  margin-right: 1rem;
}

.reminder button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: red;
}

.reminder button:hover {
  color: darkred;
}

.reminder.deleting {
  background-color: red;
}

.reminder.adding {
  background-color: lightgreen;
}


.flash {
  background-color: green;
  transition: background-color 0.5s ease;
}

@media (min-width: 768px) {
  .app-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .reminder-form {
    width: 40%;
  }

  .reminder-list {
    width: 55%;
  }
}

@media (max-width: 767px) {
  .app-container {
    flex-direction: column;
  }
}

